@media only screen and (min-device-width: 320px) and (max-device-width: 410px) {
  .Containers .first {
    display: flex;
    height: 35vh;
    width: 100%;
  }

  .Containers .first {
    display: flex;
    height: 30vh;
    width: 100%;
  }

  .Containers .second {
    display: flex;
    height: 30vh;
    width: 100%;
  }
  /* .Containers .second #accersories {
  display: flex;
  height: 25vh;
  width: 50%;
} */

  .Containers .third {
    display: flex;
    height: 30vh;
    width: 100%;
  }
  /* .Containers .third #games {
  display: flex;
  height: 30vh;
  width: %;
} */
}
@media only screen and (min-device-width: 410px) and (max-device-width: 760px) {
  .Containers .first {
    display: flex;
    height: 35vh;
    width: 100%;
  }

  .Containers .first {
    display: flex;
    height: 35vh;
    width: 100%;
  }

  .Containers .second {
    display: flex;
    height: 35vh;
    width: 100%;
  }
  /* .Containers .second #accersories {
  display: flex;
  height: 25vh;
  width: 50%;
} */

  .Containers .third {
    display: flex;
    height: 35vh;
    width: 100%;
  }
  /* .Containers .third #games {
  display: flex;
  height: 30vh;
  width: %;
} */
}
@media only screen and (min-device-width: 760px) and (max-device-width: 1024px) {
  .Containers .first {
    display: flex;
    height: 40vh;
    width: 100%;
  }

  .Containers .first {
    display: flex;
    height: 40vh;
    width: 100%;
  }

  .Containers .second {
    display: flex;
    height: 40vh;
    width: 100%;
  }
  /* .Containers .second #accersories {
  display: flex;
  height: 25vh;
  width: 50%;
} */

  .Containers .third {
    display: flex;
    height: 40vh;
    width: 100%;
  }
  /* .Containers .third #games {
  display: flex;
  height: 30vh;
  width: %;
} */
}
@media only screen and (min-width: 1024px) {
  div.Containers {
    display: flex;
  }
  .Containers .first {
    display: flex;
    height: 400px;
    width: 400px;
    margin-left: 70px;
  }
  #laptop {
    display: flex;
    height: 150px;
    margin-left: 50px;
  }
  #desktop {
    display: flex;
    height: 150px;
    margin-left: 50px;
  }

  .Containers .second {
    display: flex;
    height: 400px;
    width: 400px;
  }
  #accersories {
    display: flex;
    height: 150px;
    margin-left: 50px;
  }
  #software {
    display: flex;
    height: 150px;
    margin-left: 50px;
  }
  /* .Containers .second #accersories {
  display: flex;
  height: 25vh;
  width: 50%;
} */

  .Containers .third {
    display: flex;
    height: 400px;
    width: 400px;
  }
  #games {
    display: flex;
    height: 150px;
    margin-left: 50px;
  }
  #tv {
    display: flex;
    height: 150px;
    margin-left: 50px;
  }
  /* .Containers .third #games {
  display: flex;
  height: 30vh;
  width: %;
} */
}
